@import url('https://fonts.cdnfonts.com/css/uber-move-text');

.rr-p {
  font-family: 'Uber Move Text';
  margin: 0px;
  margin-bottom: 18px;
  font-size: 20px;
}

.input-1, 
.input-2 {
  display: block;
  margin-bottom: 8px;
  width: 240px;
  height: 30px;
  border: none;
  background-color: rgba(230, 230, 230, 0.7);
}

.input-1::placeholder, 
.input-2::placeholder {
  font-size: 12px;
}

.rn, .ltr {
  border: none;
  padding: 8px;
}

.rn {
  color: white;
  background-color: black;
  margin-right: 8px;
}

.input-2  {
  margin-bottom: 18px;
}
                                                